.user-details-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .user-details {
    display: flex;
    align-items: flex-start;
  }
  .follow-button {
    background: #f5f7f9;
    padding: 6px 18px;
    border: 1px solid #ddd;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  .user-name {
    padding-left: 20px;
  }
  .user-name p {
    color: #7e7e7e;
  }
  .edit-profile-btn {
    padding: 8px 10px;
    border: solid 1px #7e7e7e;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  .edit-profile-btn:hover {
    background-color: #f5f9fc;
  }
  .edit-profile-title {
    padding: 20px 0px;
    border-bottom: solid 1px #dbd9d9;
  }
  .edit-profile-title-2 {
    color: grey;
    font-weight: 400;
  }
  .edit-profile-form {
    padding: 20px;
    border: solid 1px #dbd9d9;
    border-radius: 5px;
  }
  .edit-profile-form label h3 {
    margin: 0%;
    padding: 3px 0px;
  }
  .edit-profile-form label p {
    margin: 0%;
    padding: 3px 0px;
  }
  .edit-profile-form label input,
  .edit-profile-form label textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #dbd9d9;
    width: 50%;
  }
  
  .user-submit-btn {
    padding: 14px 10px;
    background-color: #0a95ff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .user-submit-btn:hover {
    background-color: #0074cc;
  }
  
  .user-cancel-btn {
    padding: 14px 10px;
    color: #0a95ff;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  .user-bio {
    font-size: 0.9rem;
  }
  
  .Avatar {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgb(232, 116, 54);
    color: #fff;
  }
  
  .user-profile-bio-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .user-profile-bio-sidebar {
    padding: 0 5px;
    display: flex;
  }
  .user-profile-bio-sidebar span {
    font-size: 0.8rem;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .user-profile-bio-sidebar .active-span {
    background: rgb(248, 163, 72);
    color: #fff;
  }
  .user-profile-bio-container .user-tags {
    margin-top: 20px;
  }
  
    .user-profile-bio-sidebar {
      padding: 0 10px;
    }
    .user-bio-section {
      padding: 10px;
    }
    .Avatar {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      background: rgb(232, 116, 54);
      color: #fff;
    }
  